<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price | Sakkal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="image/Favicon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css">
</head>
<body>

<style>
    
    .bg-main-tabs{
        padding-bottom:0px!important;
    }
    .inner-main-tabs{
        padding-bottom:100px;
    }

</style>
    
<header class="sticky-top">  
    <div class="header-main">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand" href="index.html">
                <img src="image/main-logo.png" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" >
                <ul class="navbar-nav mx-auto main-menu">
                  <li class="nav-item">
                    <a class="nav-link " href="index.html">home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="about.html">about us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="services.html">services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="portfolio.html">portfolio</a>
                  </li>
                  
                  <!--<li class="nav-item">-->
                  <!--  <a class="nav-link" href="team.html">Team</a>-->
                  <!--</li>-->
                  
                  <li class="nav-item">
                    <a class="nav-link active" href="price.html">price</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link " href="blog.html">Blog</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">contact us</a>
                  </li>
                </ul>
                <div class="sakkal-btn">
                  <a href="price.html">
                    get started
                  </a>
                </div>
              </div>
            </div>
        </nav>
    </div>
    <div class="offcanvas offcanvas-start mobile-menu" id="menu">
        <div class="offcanvas-header">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav mx-auto main-menu">
                  <li class="nav-item">
                    <a class="nav-link " href="index.html">home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="about.html">about us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="services.html">services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="portfolio.html">portfolio</a>
                  </li>
                  
                  <!--<li class="nav-item">-->
                  <!--  <a class="nav-link" href="team.html">Team</a>-->
                  <!--</li>-->
                  
                  <li class="nav-item">
                    <a class="nav-link active" href="price.html">price</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link " href="blog.html">Blog</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">contact us</a>
                  </li>
                </ul>
              <div class="sakkal-btn mt-2">
                <a href="price.html">
                  get started
                </a>
              </div>
        </div>
    </div>
</header>

    <div class="bg-banner">
        <div class="container">
            <div class="about-title">
                <h2>Price</h2>
            </div>
        </div>
    </div>


    <div class="bg-main-tabs main_price">
        <div class="container">
            <div class="row align-items-end pride_space">
                <div class="col-lg-6 col-md-6">
                    <div class="price_head">
                        <div class="title">
                            <h3>Choose Your Favourite Pricing Package</h3>
                        </div>
                        <p class="sub-title">Explore our diverse range of projects.See how we bring visions to life.Crafting creative solutions for your brand.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item pride_button">
                            <a class="active" data-bs-toggle="pill" href="#social">Social Media</a>
                        </li>
                        <li class="nav-item pride_button pride_button_left">
                            <a class="" data-bs-toggle="pill" href="#price">Website Price</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="inner-main-tabs">
        <div class="tab-content">
            <div id="social" class="container tab-pane active"><br>
                <div class="main_prices">
                    <div class="container">
                        <div class="row align-items-end pride_space">
                            <div class="col-lg-12 col-md-12">
                                <ul class="nav nav-pills justify-content-center">
                                    <li class="nav-item pride_button">
                                        <a class="active" data-bs-toggle="pill" href="#monthly">Monthly</a>
                                    </li>
                                    <li class="nav-item pride_button pride_button_left">
                                        <a class="" data-bs-toggle="pill" href="#yearly">Yearly</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tab-content">
                                    <div class="tab-pane container active" id="monthly">
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" >
                                                <div class="price_box">
                                                    <div class="price_box_head">
                                                        <h3>Standard Plan</h3>
                                                        <div class="price_plan">
                                                            <h4>$170/</h4>
                                                            <span>Per Month</span>
                                                        </div>
                                                    </div>
                                                    <ul class="pricing_list">
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Market Research and Analysis
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Operational Efficiency Improvement
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Business Process Reengineering
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Supply Chain and Logistics
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Human Resources Consulting
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Financial Planning and Forecasting
                                                        </li>
                                                    </ul>
                                                    <div class="sakkal-btn pricing_button">
                                                        <a href="#">
                                                            get started
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-down"  data-aos-duration="1500">
                                                <div class="price_box price_box_border">
                                                    <div class="price_box_head">
                                                        <h3>Premium Plan</h3>
                                                        <div class="price_plan">
                                                            <h4>$230/</h4>
                                                            <span>Per Month</span>
                                                        </div>
                                                    </div>
                                                    <ul class="pricing_list">
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Market Research and Analysis
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Operational Efficiency Improvement
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Business Process Re-engineering
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Supply Chain and Logistics
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Human Resources Consulting
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Financial Planning and Forecasting
                                                        </li>
                                                    </ul>
                                                    <div class="sakkal-btn pricing_button">
                                                        <a href="#">
                                                            get started
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" >
                                                <div class="price_box">
                                                    <div class="price_box_head">
                                                        <h3>Business Plan</h3>
                                                        <div class="price_plan">
                                                            <h4>Let’s Talk</h4>
                                                            <!-- <span>Per Month</span> -->
                                                        </div>
                                                    </div>
                                                    <ul class="pricing_list">
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Market Research and Analysis
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Operational Efficiency Improvement
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Business Process Reengineering
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Supply Chain and Logistics
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Human Resources Consulting
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Financial Planning and Forecasting
                                                        </li>
                                                    </ul>
                                                    <div class="sakkal-btn pricing_button">
                                                        <a href="#">
                                                            get started
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane container fade" id="yearly">
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                                <div class="price_box">
                                                    <div class="price_box_head">
                                                        <h3>Standard Plan</h3>
                                                        <div class="price_plan">
                                                            <h4>$1170/</h4>
                                                            <span>Per Year</span>
                                                        </div>
                                                    </div>
                                                    <ul class="pricing_list">
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Market Research and Analysis
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Operational Efficiency Improvement
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Business Process Reengineering
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Supply Chain and Logistics
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Human Resources Consulting
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Financial Planning and Forecasting
                                                        </li>
                                                    </ul>
                                                    <div class="sakkal-btn pricing_button">
                                                        <a href="#">
                                                            get started
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-down" data-aos-easing="linear"  data-aos-duration="1500">
                                                <div class="price_box price_box_border">
                                                    <div class="price_box_head">
                                                        <h3>Premium Plan</h3>
                                                        <div class="price_plan">
                                                            <h4>$1230/</h4>
                                                            <span>Per Year</span>
                                                        </div>
                                                    </div>
                                                    <ul class="pricing_list">
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Market Research and Analysis
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Operational Efficiency Improvement
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Business Process Reengineering
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Supply Chain and Logistics
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Human Resources Consulting
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Financial Planning and Forecasting
                                                        </li>
                                                    </ul>
                                                    <div class="sakkal-btn pricing_button">
                                                        <a href="#">
                                                            get started
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                                                <div class="price_box">
                                                    <div class="price_box_head">
                                                        <h3>Business Plan</h3>
                                                        <div class="price_plan">
                                                            <h4>Let’s Talk</h4>
                                                            <!-- <span>Per Month</span> -->
                                                        </div>
                                                    </div>
                                                    <ul class="pricing_list">
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Market Research and Analysis
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Operational Efficiency Improvement
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Business Process Reengineering
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Supply Chain and Logistics
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Human Resources Consulting
                                                        </li>
                                                        <li>
                                                            <img src="image/price-layer-2.png">
                                                            Financial Planning and Forecasting
                                                        </li>
                                                    </ul>
                                                    <div class="sakkal-btn pricing_button">
                                                        <a href="#">
                                                            get started
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div id="price" class="container tab-pane fade"><br>
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <div class="price_box">
                            <div class="price_box_head">
                                <h3>Standard Plan</h3>
                                <div class="price_plan">
                                    <h4>$1170/</h4>
                                    <span>Per Year</span>
                                </div>
                            </div>
                            <ul class="pricing_list">
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Up to 5 pages
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Basic custom design
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Mobile-friendly design
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    WordPress or other CMS
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Basic on-page SEO
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Standard speed optimization
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Basic SSL & security setup
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Not included
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Standard contact form
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Not included
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Basic social media links
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    30 days of support
                                </li>
                            </ul>
                            <div class="sakkal-btn pricing_button">
                                <a href="#">
                                    get started
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <div class="price_box">
                            <div class="price_box_head">
                                <h3>Business Plan</h3>
                                <div class="price_plan">
                                    <h4>$1170/</h4>
                                    <span>Per Year</span>
                                </div>
                            </div>
                            <ul class="pricing_list">
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Up to 10 pages
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Enhanced custom design
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Advanced mobile optimization
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    WordPress or other CMS
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Advanced SEO with keyword optimization
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Enhanced speed optimization
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Enhanced security with backups
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Basic e-commerce (up to 10 products)
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Advanced contact forms with customization
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    1 year hosting support
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Social media integration & share buttons
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    3 months of support
                                </li>
                            </ul>
                            <div class="sakkal-btn pricing_button">
                                <a href="#">
                                    get started
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <div class="price_box">
                            <div class="price_box_head">
                                <h3>Premium Plan</h3>
                                <div class="price_plan">
                                    <h4>$1170/</h4>
                                    <span>Per Year</span>
                                </div>
                            </div>
                            <ul class="pricing_list">
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Unlimited pages
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Fully custom, responsive design
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Mobile-first, fully responsive design
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Custom CMS or WordPress with advanced features
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Full speed optimization & performance monitoring
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Advanced security suite with real-time monitoring
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Full e-commerce (unlimited products)
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Multiple forms with conditional logic
                                </li>
                                
                                <li>
                                    <img src="image/price-layer-2.png">
                                    1 year hosting with full maintenance
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    Social media integration & share buttons
                                </li>
                                <li>
                                    <img src="image/price-layer-2.png">
                                    6 months of support with regular maintenance
                                </li>
                            </ul>
                            <div class="sakkal-btn pricing_button">
                                <a href="#">
                                    get started
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>

     
    <div class="bg-contactus">
        <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-7">
                   <div class="contact-information" data-aos="fade-right">
                       <div class="co-profile">
                           <div class="co-image" data-aos="flip-up">
                               <img src="image/profile.png" alt="image">
                           </div>
                           <div class="co-address">
                               <h2>
                                   LEON D. SAKKAL
                               </h2>
                               <p>
                                   Founder & Project Manager
                               </p>
                               <ul>
                                   <li>
                                       <img src="image/call-calling.png" alt="image"><a href="tel:844.572.5525;5">844.572.5525;5</a>
                                   </li>
                                   <li>
                                       <img src="image/co-icon2.png" alt="image"><a href="mailto:hello@sakkaldesign.com">hello@sakkaldesign.com</a>
                                   </li>
                                   <li>
                                       <img src="image/co-icon3.png" alt="image"><a href="#" target="_blank">www.sakkaldesign.com</a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                       <div class="profile-bottom">
                           <p>
                               There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need.
                           </p>
                           <p>
                               All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator.
                           </p>
                       </div>
                   </div>
               </div>
               <div class="col-lg-5 col-md-5">
                   <div class="contact-form" data-aos="fade-up">
                       <form action="" method="post">
                           <h4>
                               contact
                           </h4>
                           <div class="row">
                               <div class="col-lg-12">
                                   <div class="co-input">
                                       <label>Your Full Name</label>
                                       <input type="text" value="" >
                                   </div>
                               </div>
                               <div class="col-lg-12">
                                   <div class="co-input">
                                       <label>Phone Number</label>
                                       <input type="text" value="" >
                                   </div>
                               </div>
                               <div class="col-lg-12">
                                   <div class="co-input">
                                       <label>Email Address</label>
                                       <input type="text" value="" >
                                   </div>
                               </div>
                               <div class="col-lg-12">
                                   <div class="co-input">
                                       <label>Message</label>
                                       <textarea ></textarea>
                                   </div>
                               </div>

                               <div class="col-lg-12">
                                   <button type="submit" class="form-btn">
                                       submit
                                   </button>
                               </div>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
        </div>
    </div>

    <div class="footer-main">
        <div class="container">
            <div class="footer-content" data-aos="fade-right">
                <h2>Sakkal Design & Branding Co.</h2>
                <p data-aos="fade-left">
                    Create compelling online experiences with our custom web design services.Optimize your ecommerce presence with secure, user-friendly solutions.
                </p>
                <ul class="footer-social">
                    <li data-aos="fade-up" data-aos-duration="500">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li data-aos="fade-up" data-aos-duration="1000">
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li data-aos="fade-up" data-aos-duration="1500">
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li data-aos="fade-up" data-aos-duration="2000">
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                    </li>
                </ul>
                <div class="sakkal-btn">
                    <a href="#">
                      get started
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright-section">
           <div class="copyright-title">
                <span>2024 Sakkal Design & Branding Co., LLC</span> <span> All rights reserved.</span>
           </div>
           <ul class="quick-links">
                <li>
                    <a href="#">Privacy & Cookie Policy</a>
                </li>
                <li>
                    <a href="#">Terms & Conditions</a>
                </li>
           </ul>
        </div>
    </div>

     <div id="stop" class="scrollTop">
        <span>
            <a href="">
                <i class="fa-solid fa-arrow-up"></i>
            </a>
        </span>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js"></script>
    <script src="js/script.js"></script>


</body>
</html>